.postList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));

  .Li{
    display:flex;
    @media (max-width: 768px) {
      width:100%
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}



.postItemContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width:100%;
  cursor: pointer;
  gap:20px;

  &:hover {
    img {
      transform: scaleY(1.1) scaleX(1.1);
      transition: 300ms;
    }
  }
  .cardInset{
    overflow: hidden;
  }

  .title {
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .insetImage {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: var(--gray-5);
  }

  .body {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .cardInset{
    overflow: hidden;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    width:100%;
    gap:20px;

    .cardInset{
      width: 140px;
      flex-shrink: 0;
    }
    .insetImage {
      display: block;
      object-fit: cover;
      width: 140px;
      max-height: 100px;
      background-color: var(--gray-5);
    }
    .cardDescription{
      width:300px;
      flex:1;
    }
  }
}
