.postList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}
.postItemContent {
  overflow: hidden;
  cursor: pointer;

  &:hover {
    img {
      transform: scaleY(1.1) scaleX(1.1);
      transition: 300ms;
    }
  }

  .title {
    padding-top: var(--space-4);
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .body {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
