.postList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .Li {
    display: flex;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.postItemContent {
  display: flex;
  padding: 0;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.3);
      transition: 300ms;
    }
  }
  .cardInset {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .title {
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .insetImage {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: var(--gray-5);
  }

  .body {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .cardInset {
    overflow: hidden;
  }
  .cardDescription {
    flex: 1;
    padding-inline: 12px;
    padding-bottom: 12px;
    min-width: 0px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    .cardInset {
      width: 140px;
      flex-shrink: 0;
    }
    .insetImage {
      display: block;
      object-fit: cover;
      width: 140px;
      max-height: 120px;
      background-color: var(--gray-5);
    }
    .cardDescription {
      width: 30px;
      flex: 1;
    }
  }
}

.flexDetailLink{
  display: flex;
  flex:1
}