.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-y: scroll;
    padding: 2px;
    padding-top:1.5rem;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
}
