.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    min-width: 0;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.asideWrapper{
  display: flex;
  flex-direction: column;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
}

.viewport{
  &>div{
    display: block !important;
  }
}
