.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  height: 5rem;
  width: 100%;
  background-color: rgb(187, 187, 187);
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 4px;
  
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}
