.mdxWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px;
  min-width: 0;
}

.mdPre {
  overflow-x: scroll;

  /* 스크롤바의 폭 너비 */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(86, 79, 116); /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 둥근 테두리 */
  }

  &::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
  }
}
