.aside {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--gray-4); 
  min-width: 60px;
  width: 4rem;
  transition: 0.4s;

  &.open {
    width: 16rem;
    background-color: var(--gray-8);
    transition: 0.4s;
  }

  .asideIconWrapper{
    display: flex;
    flex-direction: column;
  }

  .asideIconDetail{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-8);
    flex:1;
    opacity: 0;
    visibility: hidden;
    gap: 6px;
    &.open {
      visibility: visible;
      transition: 1s;
      opacity: 1;
    }
    .detailMenu{
      visibility: hidden;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      &.open {
        overflow: hidden;
        visibility: visible;
      }
    }
  }
  .detailMenuItem{
    cursor:pointer;
    color:black
  }

  .asideContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
}
