.header {
  display: flex;
  max-height: 5rem;
  background-color: rgb(187, 187, 187);
  align-items: center;
  padding-inline: 20px;
  flex-direction: row;
  justify-content: space-between;
  .headerContent {
    flex: 1;
  }
}

.dropdownMenu__button {
  &:hover {
    transition: 0.3s;
    color: blue;
  }
}

.dropdownMenu__item {
  height: 3rem;
  width: 12rem;
  font-size: 1.5rem;
}
